@model PermitToWorkSystem.Models.PermitToWorkForm

@{
    ViewData["Title"] = "PermitToWorkDetails";
}


<div class="text-white">
    <h4 class="text-capitalize">Permit To Work Form submited by <span class="btn btn-info">@Model.Company </span>with JSA number<span class="badge text-danger text-uppercase">@Model.JSA_NO</span> </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.Project)*@
            Project
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.LocationOfWork)*@
            Location Of Work
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationOfWork)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.EquipmentDescription)*@
            Equipment Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentDescription)
        </dd>
        <dt class = "col-sm-2">
          @*  @Html.DisplayNameFor(model => model.Permit_Applicant)*@
            Permit Applicant
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Permit_Applicant)
        </dd>
        <dt class = "col-sm-2">
          @*  @Html.DisplayNameFor(model => model.Company)*@
            Company
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.JSA_NO)*@
            JSA NO
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JSA_NO)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Description_Of_Work)*@
            Description Of Work
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description_Of_Work)
        </dd>
        <dt class = "col-sm-2">
           @* @Html.DisplayNameFor(model => model.Duration_Of_Work)*@
            Duration Of Work
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration_Of_Work)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            StartDate
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
          
        </dd>
        <dt class = "col-sm-2">
            EndDate
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            StartTime
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            EndTime
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            Tools Equipment
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tools_Equipmet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="SiteChecker" class="btn btn-success">Proceed To Approval</a> |
    <a asp-action="FormRejected" asp-controller="SiteChecker" class="btn btn-success">Reject The Permit</a>
</div>
